.wrap {
  width: 100%;
  height: 100%;
  .resolutionContainer {
    height: 40px;
    line-height: 40px;
    list-style: none;
    padding-left: 10px;
    margin: 0;
    border-bottom: solid 1px rgba(200, 201, 218, 0.3);
    li {
      display: inline-block;
      margin-right: 1px;
      button {
        padding: 3px 6px;
        color: #758696;
        font-size: 14px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        &:hover,
        &.selected {
          color: #b7d5ea;
          background: rgba(183, 213, 234, 0.1);
        }
      }
    }
  }
  .chartContent {
    height: calc(100% - 40px);
  }
}

.resolutionBtn {
  background-color: red !important;
}
