.noticeWrap {
}

.list {
  margin-right: 100px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.icon {
  margin-right: 20px;
  vertical-align: -1px;
  user-select: none;
}

.notice {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #c8c9da;

  &:hover {
    color: #fff;
  }

  & + .notice:before {
    margin: 0 15px;
    content: "/";
    color: #fff;
  }

  span {
    font-size: 14px;
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}

.moreBtn {
  float: right;
  margin: 0 20px;
  padding: 0 10px;
  float: right;
  font-size: 15px;
  color: #1ad4ff;
  text-decoration: underline;
  transition: opacity 300ms;
  user-select: none;

  &:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
}
