$black-light: #292d36;
$blue-light: #5ac7ff;
$blue-lighter: rgba(90, 199, 255, 0.4);
$blue-dark: #2899e3;
$blue-warning: #1ad4ff;
$blue-gradient: to right, $blue-dark, $blue-light;

$white: #ffffff;
$black: #000000;
$black-light: #292d36;
$black-dark: #14151a;
$black-font: #7f7f7f;
