.container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
}

.pageHeader {
  color: #c8c9d9;
}

.currentBestBlockHeight {
  text-align: right;
}
