.noticebar-box {
  height: 48px;
  min-height: 48px;
  display: none;
  .content {
    top: 0px;
    left: 0px;
    color: rgb(229, 140, 5);
    right: 0px;
    height: 48px;
    display: flex;
    z-index: 1101;
    position: fixed;
    min-height: 48px;
    text-align: center;
    align-items: center;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: rgb(255, 250, 242);
    font-weight: 500;
    .info-icon {
      margin-right: 6px;
    }
    .switch-button {
      color: rgb(229, 140, 5);
      text-decoration: underline;
    }
  }
  &.active {
    display: block;
  }
}
