.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin: 20px 0 10px;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tabs {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  max-width: 100%;
  width: 100%;

  .tab {
    width: 100px;
    padding: 0 10px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #1ad4ff;

    &:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &.active {
      color: #fff;
      // background-color: #1AD4FF;
      background-image: linear-gradient(90deg, #2899e3, #5ac7ff);
      border: none;
    }

    & + .tab {
      margin-left: -1px;
    }
  }
}

.content {
}
