.available {
  color: #a3b4bd;
  font-size: 12px;
  // font-family: "DIN-Medium";
  font-weight: 700;
}

.formItem {
  margin: 10px 0 12px !important;

  & + .formItem {
    margin-top: 18px;
  }

  :global(.ant-form-item-control) {
    line-height: initial;
  }

  :global(.ant-form-item-children) {
    display: flex;
    align-items: center;
  }

  &:hover {
    :global(.ant-form-explain) {
      display: initial;
    }
  }

  :global(.ant-form-explain) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    font-size: 12px;
    text-align: right;
    z-index: 1;
    display: none;
  }

  :global(.has-error .ant-input),
  :global(.has-error .ant-input:hover) {
    border-color: #ff4d4f;
    // box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }

  .formTit {
    flex: 0 0 60px;
    font-size: 12px;
    color: #8183aa;
    user-select: none;
  }

  .inputWrap {
    position: relative;
    display: block;
  }

  .input {
    height: 30px;
    line-height: 28px;
    width: 100%;
    padding-left: 10px;
    padding-right: 50px;
    color: #d5def2;
    background-color: transparent;
    caret-color: #357ce1;
    border: 1px solid #54568e;
    outline-width: 0;
    border-radius: 4px;
    font-size: 13px;

    &.disable {
      cursor: not-allowed;
      color: #8183aa;
      background-color: #1f2035;
      user-select: none;
    }

    // &::-webkit-inner-spin-button,
    // &::-webkit-outer-spin-button {
    //   -webkit-appearance: none;
    //   margin: 0;
    // }
  }

  .currency {
    position: absolute;
    right: 5px;
    top: 9px;
    float: right;
    font-size: 12px;
    white-space: nowrap;
    user-select: none;
    color: #8183aa;
  }
}

.slider {
  padding: 10px 5px;

  :global(.ant-slider) {
    margin: 0;
  }

  // :global(.ant-tooltip-inner) {
  //   background-color: red!important;
  // }

  :global(.ant-slider-track) {
    height: 2px;
    z-index: 9;
    top: 4px;
  }

  &.hl {
    :global(.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open)) {
      border-color: #2eb77a;
    }

    :global(.ant-slider-handle:focus) {
      box-shadow: 0 0 0 5px rgba(#ffffff, 0.2);
    }

    :global(.ant-slider-rail),
    :global(.ant-slider-step) {
      background-color: #2eb77a;
    }

    :global(.ant-slider-dot) {
      border: 1px solid #ffffff;
      background-color: #2eb77a;
    }

    :global(.ant-slider-handle) {
      background-color: #292d36;
      border: 2px solid #2eb77a;
    }
  }

  :global(.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open)) {
    border-color: #ffffff;
  }

  :global(.ant-slider-handle:focus) {
    box-shadow: 0 0 0 5px rgba(#ffffff, 0.2);
  }

  :global(.ant-slider-rail),
  :global(.ant-slider-step) {
    background-color: #7073a8;
    height: 2px !important;
  }

  :global(.ant-slider-dot) {
    top: -3px;
    width: 6px;
    height: 6px;
    border: 1px solid #ffffff;
    box-sizing: content-box;
    background-color: #7073a8;
    z-index: 9;
  }

  :global(.ant-slider-handle) {
    width: 10px;
    height: 10px;
    margin-top: -4px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    z-index: 9;
  }
}

.total {
  color: #a3b4bd;
  font-size: 12px;
}

.button {
  margin-top: 10px;
  height: 32px;
  background-image: none;
  transition: opacity 300ms;
  font-size: 14px;

  &:hover {
    opacity: 0.8;
    background: inherit;
  }

  &.buy {
    background-color: #2eb77a;
    border-color: #2eb77a;
  }

  &.sell {
    background-color: #ed275d;
    border-color: #ed275d;
  }
}

:global(.ant-slider-disabled) {
  visibility: hidden;
}

.marketFormPlaceholder {
  height: 18px;
}
